@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    /* white variants */
    --color-white: #fff0e3;
    --color-white-100: #eddbca;

    /* black variants */
    --color-black: #282829;

    /* gray variants */
    --color-gray: #ccc;
    --color-dark-gray-100: #333;
    --color-dark-gray-400: #1f1f1f;

    /* orange variants */
    --color-orange: #fea75f;

    --color-card: #1f1f1f;

    --color-background: var(--color-white);
    --color-title: var(--color-black);
    --color-paragraph: var(--color-dark-gray-100);
    --color-no-rows-found: var(--color-white-100);
}

.dark {
    --color-background: var(--color-black);
    --color-title: var(--color-white);
    --color-paragraph: var(--color-gray);
    --color-no-rows-found: var(--color-dark-gray-400);
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--color-background);
}

::selection {
    background-color: transparent;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
    background-color: transparent;
    color: var(--color-orange);
}
